

{% extends 'base.html' %}
<title>HomePage</title>
{% block content %}
<h1>HomePage</h1>
  {% for product in products %}
    <h2>-----------------------------------------------------------------------------------------------------------</h2>

    <a href="#"><img src="{{ product.image.url }}"></a><br><br>
    <a href="#">{{ product.info }}</a><br><br>
    {{ product.price }}<br><br>
    {% if product.discounted_price %}
      Discount: {{ product.discount }}%<br><br>
      {{ product.discounted_price }}
    {% endif %}
  {% endfor %}
{% endblock content %}