

{% extends 'base.html' %}
<title>Chat</title>
{% block content %}
<h1>Chat</h1>
<h2>-------------------------------------------------------------------------------------</h2>
    {% for message in received_messages %}
            <h3>From: <a href="#">{{ message.sender.username }}</a></h3>
            <h3>{{ message.message}}</h3>
            <h4>Time: {{ message.timestamp }}</h4>
            {% if message.sender == request.user.username %}
                <a href="#"><button>Delete</button></a>
            {% endif %}
<h2>-------------------------------------------------------------------------------------</h2><h2>-------------------------------------------------------------------------------------</h2>
    {% endfor %}
    {% for message in sent_messages %}
            <h3>To: <a href="#">{{ message.sender.username }}</a></h3>
            <h3>{{ message.message}}</h3>
            <h4>Time: {{ message.timestamp }}</h4>
            {% if message.sender == request.user.username %}
                <a href="#"><button>Delete</button></a>
            {% endif %}
<h2>-------------------------------------------------------------------------------------</h2>
    {% endfor %}
{% endblock content %}